/* Orange: rgb(230, 114, 83) */
/* Blue: rgb(20, 61, 119) */
/* Pink: rgb(218, 125, 177) */
/* Yellow: rgba(242, 198, 85) */

.orange {
  background-color: rgb(230, 114, 83);
  color: #fff;
}

.blue {
  background-color: rgb(20, 61, 119);
  color: #fff;
}

.pink {
  background-color: rgb(218, 125, 177);
  color: #fff;
}

.yellow {
  background-color: rgba(242, 198, 85);
  color: #000;
}

body {
  margin: 0;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  text-transform: uppercase;
}

section {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

header {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

header img {
  height: 80px;
  display: block;
  margin: 0 auto;
}

.cta {
  border-radius: 10px;
  display: block;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
}

button.cta {
  border: 0;
  padding-left: 0;
  padding-right: 0;
}

.center {
  margin: 0 auto;
}

.what-list,
.feedback-list,
.bios,
.baddie-list {
  display: flex;
  flex-direction: row;
}

.feedback-list {
  justify-content: space-between;
  margin: 0 2rem;
}

.feedback {
  border: 3px solid rgb(230, 114, 83);
  border-radius: 10px;
  padding: 1rem;
  width: calc(100% / 3 - 100px);
}

.bios {
  justify-content: space-around;
}

.bio {
  border-radius: 10px;
  max-width: 300px;
  padding: 1rem;
}